body.login {
    height: auto;
    font-family: "Open Sans",sans-serif;
    font-size: 1rem;
    background-color: #4e4d4d;
}
.login h1 {
    text-align: center;
    position: absolute;
    top: -80px;
    left: 0;
    right: 0;
    display: block;
    margin: 0 auto 25px;
    padding: 0;
    color: #444;
    width: 257px;
    height: 60px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3em;
    text-decoration: none;
    text-indent: -9999px;
    outline: 0;
    overflow: hidden;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='300' height='71' viewBox='0 0 300 71'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath fill='%234E4D4D' d='M-227-216h768v960h-768z'/%3E%3Cpath fill='%230081C4' d='M284.923 69.74L18.6 69.743a9.796 9.796 0 0 1-9.648-8.089L.152 11.936C-.909 5.937 3.707.436 9.802.436l280.38.026c5.819 0 10.355 5.04 9.743 10.825l-5.258 49.689a9.797 9.797 0 0 1-9.744 8.764'/%3E%3Cpath fill='%23FFF' d='M275.165 57.96l-97.607.414a6.58 6.58 0 0 1-6.373-4.836L162.01 20.12c-1.17-4.261 2.114-8.441 6.533-8.314l111.752 3.203c3.988.114 6.957 3.721 6.301 7.655l-4.968 29.799a6.578 6.578 0 0 1-6.462 5.495'/%3E%3Cpath fill='%234D4C4C' d='M190.192 41.336c1.198 0 2.216-.444 3.056-1.332.838-.888 1.258-1.927 1.258-3.118 0-1.19-.41-2.23-1.227-3.118-.817-.888-1.84-1.332-3.066-1.332-1.227 0-2.252.416-3.077 1.247-.825.832-1.238 1.878-1.238 3.14 0 1.26.416 2.328 1.249 3.202.831.874 1.846 1.31 3.045 1.31zm-4.209-8.52c1.199-1.324 2.637-1.986 4.315-1.986 1.677 0 3.09.595 4.24 1.785 1.149 1.192 1.723 2.626 1.723 4.302 0 1.678-.585 3.116-1.755 4.313-1.17 1.199-2.584 1.797-4.24 1.797-1.657 0-3.084-.719-4.283-2.156v1.776h-1.713V26.792h1.713v6.024zm38.66 8.583c1.17 0 2.178-.422 3.024-1.268.846-.846 1.269-1.9 1.269-3.16 0-1.262-.416-2.319-1.248-3.172-.832-.852-1.85-1.278-3.056-1.278-1.205 0-2.224.44-3.056 1.32-.832.882-1.248 1.921-1.248 3.119 0 1.198.423 2.237 1.27 3.118.845.881 1.86 1.321 3.045 1.321zm5.921 1.247h-1.713v-1.69c-1.255 1.38-2.7 2.07-4.335 2.07-1.636 0-3.035-.601-4.198-1.806-1.163-1.205-1.745-2.643-1.745-4.313s.585-3.1 1.755-4.291c1.17-1.191 2.598-1.787 4.283-1.787 1.685 0 3.098.684 4.24 2.05v-1.754h1.713v11.521zm2.317 0V26.793h1.755v15.855h-1.755zm17.876-1.247c1.847 0 3.257-.909 4.23-2.727l1.48.761c-.663 1.226-1.445 2.132-2.347 2.717-.903.584-1.981.877-3.236.877-1.734 0-3.165-.595-4.293-1.786a5.992 5.992 0 0 1-1.467-2.575h1.836c.215.61.544 1.138.995 1.58.782.77 1.716 1.153 2.802 1.153zm.063-8.879c-1.973 0-3.284 1.044-3.933 3.13h7.952c-.212-.987-.691-1.756-1.438-2.305-.748-.55-1.608-.825-2.58-.825zm-4.145 4.673h-1.765c-.003-.085-.01-.168-.01-.254 0-1.677.567-3.115 1.701-4.313 1.135-1.198 2.541-1.797 4.22-1.797 1.677 0 3.08.568 4.208 1.702 1.128 1.135 1.713 2.688 1.756 4.662h-10.11zm13.783 5.454h-1.762v-7.032c0-2.11.582-3.551 1.728-4.285 1.632-1.042 3.676-.12 3.762-.08l-.735 1.6c-.35-.157-1.406-.47-2.083-.033-.753.486-.91 1.79-.91 2.798v7.032zm-22.46-6.025l6.704 6.024h-2.516l-5.415-4.861v-.001l-1.293-1.162 1.293-1.142 4.97-4.334 2.602-.02-6.345 5.496z'/%3E%3Cpath fill='%230081C4' d='M213.32 29.606a.525.525 0 1 1 0-1.05.525.525 0 0 1 0 1.05zm-5.903 12.36a.48.48 0 1 1 0-.96.48.48 0 0 1 0 .96zm6.248-15.141l-.784-.533-7.677 15.625 2.893 1.97 7.71-15.604-2.142-1.458zM201.363 29.562a.48.48 0 1 1 0-.961.48.48 0 0 1 0 .96zm-1.277-3.27l-2.45 17.235h3.54l2.41-17.236h-3.5z'/%3E%3Cg fill='%23000' fill-opacity='.3'%3E%3Cpath d='M205.432 41.453l-.228.464.69.47zM208.838 42.387l-1.472 1.002.39.266.685-.466zM207.398 37.437l-.032.081 1.933 3.935.045-.09z'/%3E%3C/g%3E%3Cpath fill='%23000' fill-opacity='.3' d='M212.406 35.166l-.86-6.156-.347.705.86 6.152z'/%3E%3Cpath fill='%230081C4' d='M213.32 29.606a.525.525 0 1 1 0-1.05.525.525 0 0 1 0 1.05zm1.346-3.314h-3.5l2.409 17.235h3.54l-2.45-17.235z'/%3E%3Cpath fill='%23000' fill-opacity='.3' d='M202.34 35.198l-2.734-5.533-.11.772 2.736 5.535z'/%3E%3Cpath fill='%230081C4' d='M207.417 41.966a.48.48 0 1 1 0-.961.48.48 0 0 1 0 .96zm-6.054-12.404a.48.48 0 1 1 0-.96.48.48 0 0 1 0 .96zm.486-3.27l-.783.533-2.143 1.458 7.711 15.603 2.893-1.969-7.678-15.626z'/%3E%3Cpath fill='%23FFF' d='M201.363 29.562a.48.48 0 1 1 0-.961.48.48 0 0 1 0 .96M207.417 41.966a.48.48 0 1 1 0-.961.48.48 0 0 1 0 .96M213.32 29.606a.525.525 0 1 1 0-1.05.525.525 0 0 1 0 1.05M39.562 40.803c.862-1.224 1.293-3.132 1.293-5.723 0-2.604-.437-4.526-1.311-5.768-.874-1.243-2.179-1.864-3.915-1.864-3.532 0-5.298 2.544-5.298 7.632 0 5.04 1.754 7.56 5.262 7.56 1.784 0 3.106-.612 3.97-1.837zM35.63 21.671c4.15 0 7.296 1.135 9.436 3.406 2.14 2.27 3.21 5.605 3.21 10.003 0 4.386-1.075 7.72-3.228 10.003-2.152 2.282-5.304 3.423-9.454 3.423-4.09 0-7.228-1.147-9.41-3.442-2.182-2.293-3.273-5.634-3.273-10.02 0-4.338 1.086-7.652 3.256-9.94 2.17-2.289 5.324-3.433 9.463-3.433zm30.68 18.838c1-1.242 1.5-3.141 1.5-5.697 0-2.389-.473-4.16-1.419-5.313-.945-1.153-2.381-1.73-4.308-1.73h-2.051v14.603h1.57c2.14 0 3.71-.62 4.709-1.863zm5.397-15.218c2.277 2.14 3.415 5.23 3.415 9.272 0 4.35-1.198 7.702-3.594 10.057-2.396 2.353-5.765 3.53-10.105 3.53h-8.437V22.081h9.026c4.186 0 7.417 1.07 9.695 3.209zm8.09 22.859V22.08h7.08V48.15h-7.08zm19.3-20.327c-.417.32-.625.719-.625 1.194 0 .512.265.97.794 1.373.53.404 1.965 1.141 4.309 2.212 2.247 1.01 3.807 2.095 4.682 3.253.874 1.16 1.31 2.619 1.31 4.378 0 1.616-.41 3.052-1.23 4.306-.821 1.255-2.004 2.229-3.55 2.924-1.546.695-3.36 1.043-5.44 1.043-1.737 0-3.193-.122-4.37-.365-1.178-.244-2.403-.669-3.675-1.275v-6.277a20.96 20.96 0 0 0 4.192 1.614c1.45.387 2.782.58 3.995.58 1.047 0 1.813-.182 2.301-.544.488-.363.731-.83.731-1.4a1.54 1.54 0 0 0-.294-.936c-.196-.267-.51-.538-.945-.811-.435-.273-1.591-.832-3.47-1.676-1.7-.773-2.976-1.522-3.826-2.247-.85-.725-1.48-1.557-1.89-2.496-.41-.94-.616-2.05-.616-3.334 0-2.402.874-4.274 2.622-5.617 1.748-1.343 4.15-2.015 7.207-2.015 2.699 0 5.452.624 8.259 1.872l-2.159 5.438c-2.438-1.117-4.543-1.676-6.315-1.676-.915 0-1.581.16-1.997.482zm14.502 20.326V22.081h15.483v5.652h-8.438v4.101h7.813v5.653h-7.813v4.921h8.438v5.741h-15.483zm27.755-10.662h5.548l-1.124-4.28c-.262-.95-.58-2.18-.954-3.69-.375-1.51-.622-2.592-.74-3.245-.108.606-.319 1.604-.633 2.995-.316 1.39-1.015 4.13-2.097 8.22zm7.385-15.513l8.615 26.175h-7.705l-1.285-4.885h-8.472l-1.32 4.885h-7.742l8.509-26.175h9.4z'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-size: 100%;
    background-position: center top;
    background-repeat: no-repeat;
}
.login h1 a {
    display: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='300' height='71' viewBox='0 0 300 71'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath fill='%234E4D4D' d='M-227-216h768v960h-768z'/%3E%3Cpath fill='%230081C4' d='M284.923 69.74L18.6 69.743a9.796 9.796 0 0 1-9.648-8.089L.152 11.936C-.909 5.937 3.707.436 9.802.436l280.38.026c5.819 0 10.355 5.04 9.743 10.825l-5.258 49.689a9.797 9.797 0 0 1-9.744 8.764'/%3E%3Cpath fill='%23FFF' d='M275.165 57.96l-97.607.414a6.58 6.58 0 0 1-6.373-4.836L162.01 20.12c-1.17-4.261 2.114-8.441 6.533-8.314l111.752 3.203c3.988.114 6.957 3.721 6.301 7.655l-4.968 29.799a6.578 6.578 0 0 1-6.462 5.495'/%3E%3Cpath fill='%234D4C4C' d='M190.192 41.336c1.198 0 2.216-.444 3.056-1.332.838-.888 1.258-1.927 1.258-3.118 0-1.19-.41-2.23-1.227-3.118-.817-.888-1.84-1.332-3.066-1.332-1.227 0-2.252.416-3.077 1.247-.825.832-1.238 1.878-1.238 3.14 0 1.26.416 2.328 1.249 3.202.831.874 1.846 1.31 3.045 1.31zm-4.209-8.52c1.199-1.324 2.637-1.986 4.315-1.986 1.677 0 3.09.595 4.24 1.785 1.149 1.192 1.723 2.626 1.723 4.302 0 1.678-.585 3.116-1.755 4.313-1.17 1.199-2.584 1.797-4.24 1.797-1.657 0-3.084-.719-4.283-2.156v1.776h-1.713V26.792h1.713v6.024zm38.66 8.583c1.17 0 2.178-.422 3.024-1.268.846-.846 1.269-1.9 1.269-3.16 0-1.262-.416-2.319-1.248-3.172-.832-.852-1.85-1.278-3.056-1.278-1.205 0-2.224.44-3.056 1.32-.832.882-1.248 1.921-1.248 3.119 0 1.198.423 2.237 1.27 3.118.845.881 1.86 1.321 3.045 1.321zm5.921 1.247h-1.713v-1.69c-1.255 1.38-2.7 2.07-4.335 2.07-1.636 0-3.035-.601-4.198-1.806-1.163-1.205-1.745-2.643-1.745-4.313s.585-3.1 1.755-4.291c1.17-1.191 2.598-1.787 4.283-1.787 1.685 0 3.098.684 4.24 2.05v-1.754h1.713v11.521zm2.317 0V26.793h1.755v15.855h-1.755zm17.876-1.247c1.847 0 3.257-.909 4.23-2.727l1.48.761c-.663 1.226-1.445 2.132-2.347 2.717-.903.584-1.981.877-3.236.877-1.734 0-3.165-.595-4.293-1.786a5.992 5.992 0 0 1-1.467-2.575h1.836c.215.61.544 1.138.995 1.58.782.77 1.716 1.153 2.802 1.153zm.063-8.879c-1.973 0-3.284 1.044-3.933 3.13h7.952c-.212-.987-.691-1.756-1.438-2.305-.748-.55-1.608-.825-2.58-.825zm-4.145 4.673h-1.765c-.003-.085-.01-.168-.01-.254 0-1.677.567-3.115 1.701-4.313 1.135-1.198 2.541-1.797 4.22-1.797 1.677 0 3.08.568 4.208 1.702 1.128 1.135 1.713 2.688 1.756 4.662h-10.11zm13.783 5.454h-1.762v-7.032c0-2.11.582-3.551 1.728-4.285 1.632-1.042 3.676-.12 3.762-.08l-.735 1.6c-.35-.157-1.406-.47-2.083-.033-.753.486-.91 1.79-.91 2.798v7.032zm-22.46-6.025l6.704 6.024h-2.516l-5.415-4.861v-.001l-1.293-1.162 1.293-1.142 4.97-4.334 2.602-.02-6.345 5.496z'/%3E%3Cpath fill='%230081C4' d='M213.32 29.606a.525.525 0 1 1 0-1.05.525.525 0 0 1 0 1.05zm-5.903 12.36a.48.48 0 1 1 0-.96.48.48 0 0 1 0 .96zm6.248-15.141l-.784-.533-7.677 15.625 2.893 1.97 7.71-15.604-2.142-1.458zM201.363 29.562a.48.48 0 1 1 0-.961.48.48 0 0 1 0 .96zm-1.277-3.27l-2.45 17.235h3.54l2.41-17.236h-3.5z'/%3E%3Cg fill='%23000' fill-opacity='.3'%3E%3Cpath d='M205.432 41.453l-.228.464.69.47zM208.838 42.387l-1.472 1.002.39.266.685-.466zM207.398 37.437l-.032.081 1.933 3.935.045-.09z'/%3E%3C/g%3E%3Cpath fill='%23000' fill-opacity='.3' d='M212.406 35.166l-.86-6.156-.347.705.86 6.152z'/%3E%3Cpath fill='%230081C4' d='M213.32 29.606a.525.525 0 1 1 0-1.05.525.525 0 0 1 0 1.05zm1.346-3.314h-3.5l2.409 17.235h3.54l-2.45-17.235z'/%3E%3Cpath fill='%23000' fill-opacity='.3' d='M202.34 35.198l-2.734-5.533-.11.772 2.736 5.535z'/%3E%3Cpath fill='%230081C4' d='M207.417 41.966a.48.48 0 1 1 0-.961.48.48 0 0 1 0 .96zm-6.054-12.404a.48.48 0 1 1 0-.96.48.48 0 0 1 0 .96zm.486-3.27l-.783.533-2.143 1.458 7.711 15.603 2.893-1.969-7.678-15.626z'/%3E%3Cpath fill='%23FFF' d='M201.363 29.562a.48.48 0 1 1 0-.961.48.48 0 0 1 0 .96M207.417 41.966a.48.48 0 1 1 0-.961.48.48 0 0 1 0 .96M213.32 29.606a.525.525 0 1 1 0-1.05.525.525 0 0 1 0 1.05M39.562 40.803c.862-1.224 1.293-3.132 1.293-5.723 0-2.604-.437-4.526-1.311-5.768-.874-1.243-2.179-1.864-3.915-1.864-3.532 0-5.298 2.544-5.298 7.632 0 5.04 1.754 7.56 5.262 7.56 1.784 0 3.106-.612 3.97-1.837zM35.63 21.671c4.15 0 7.296 1.135 9.436 3.406 2.14 2.27 3.21 5.605 3.21 10.003 0 4.386-1.075 7.72-3.228 10.003-2.152 2.282-5.304 3.423-9.454 3.423-4.09 0-7.228-1.147-9.41-3.442-2.182-2.293-3.273-5.634-3.273-10.02 0-4.338 1.086-7.652 3.256-9.94 2.17-2.289 5.324-3.433 9.463-3.433zm30.68 18.838c1-1.242 1.5-3.141 1.5-5.697 0-2.389-.473-4.16-1.419-5.313-.945-1.153-2.381-1.73-4.308-1.73h-2.051v14.603h1.57c2.14 0 3.71-.62 4.709-1.863zm5.397-15.218c2.277 2.14 3.415 5.23 3.415 9.272 0 4.35-1.198 7.702-3.594 10.057-2.396 2.353-5.765 3.53-10.105 3.53h-8.437V22.081h9.026c4.186 0 7.417 1.07 9.695 3.209zm8.09 22.859V22.08h7.08V48.15h-7.08zm19.3-20.327c-.417.32-.625.719-.625 1.194 0 .512.265.97.794 1.373.53.404 1.965 1.141 4.309 2.212 2.247 1.01 3.807 2.095 4.682 3.253.874 1.16 1.31 2.619 1.31 4.378 0 1.616-.41 3.052-1.23 4.306-.821 1.255-2.004 2.229-3.55 2.924-1.546.695-3.36 1.043-5.44 1.043-1.737 0-3.193-.122-4.37-.365-1.178-.244-2.403-.669-3.675-1.275v-6.277a20.96 20.96 0 0 0 4.192 1.614c1.45.387 2.782.58 3.995.58 1.047 0 1.813-.182 2.301-.544.488-.363.731-.83.731-1.4a1.54 1.54 0 0 0-.294-.936c-.196-.267-.51-.538-.945-.811-.435-.273-1.591-.832-3.47-1.676-1.7-.773-2.976-1.522-3.826-2.247-.85-.725-1.48-1.557-1.89-2.496-.41-.94-.616-2.05-.616-3.334 0-2.402.874-4.274 2.622-5.617 1.748-1.343 4.15-2.015 7.207-2.015 2.699 0 5.452.624 8.259 1.872l-2.159 5.438c-2.438-1.117-4.543-1.676-6.315-1.676-.915 0-1.581.16-1.997.482zm14.502 20.326V22.081h15.483v5.652h-8.438v4.101h7.813v5.653h-7.813v4.921h8.438v5.741h-15.483zm27.755-10.662h5.548l-1.124-4.28c-.262-.95-.58-2.18-.954-3.69-.375-1.51-.622-2.592-.74-3.245-.108.606-.319 1.604-.633 2.995-.316 1.39-1.015 4.13-2.097 8.22zm7.385-15.513l8.615 26.175h-7.705l-1.285-4.885h-8.472l-1.32 4.885h-7.742l8.509-26.175h9.4z'/%3E%3C/g%3E%3C/svg%3E%0A");
}
#login {
    position: relative;
    padding: 40px;
    max-width: 400px;
    margin: 150px auto 50px !important;
    background-color: #fff !important;
    border-radius: .25rem !important;
}
.login form {
    margin: 0;
    padding: 0;
    font-weight: 400;
    overflow: hidden;
    background: #fff;
    box-shadow: none;
}
.login label {
    display: block;
    margin-bottom: .5rem;
    font-weight: bold;
    font-size: 14px;
}
.login #lostpasswordform input.input {
    display: block;
    width: 100%;
    height: 40px;
    padding: .375rem .75rem;
    margin-top: 5px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #4e4d4d;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bbb;
    border-radius: .25rem;
    transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}
.login.wp-core-ui .button.button-large {
    padding: .875rem .75rem;
    height: auto;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-shadow: none;
    background-color: #78af45;
    border: 1px solid #78af45;
    border-radius: .25rem;
}
.login #login_error, .login .message, .login .success {
    border-left: none;
    padding: 0;
    margin-left: 0;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: none;
    font-size: 14px;
}
.login #backtoblog a, .login #nav a {
    text-decoration: none;
    color: #555d66;
}
.login #nav {
    display: none;
}
.login #backtoblog {
    padding: 0 27px 0 0;
}
.login #backtoblog a {
    display: inline-block;
    color: transparent;
    font-size: 1px;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    padding: .375rem .75rem;
    width: 100%;
    line-height: 1.5;
    border-radius: .25rem;
    border: 1px solid #bbb !important;
    background-color: #eee;
    font-weight: bold;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}
.login #backtoblog a:before {
    content: "Volver a la web";
    color: #777 !important;
    font-size: 14px;
}
.login .privacy-policy-page-link {
    text-align: center;
    width: 100%;
    margin: 0;
}
.login .privacy-policy-page-link .privacy-policy-link {
    margin-top: 15px;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
    color: #57b5c9;
}